<main>
<section class="bienvenida">
                
            <div class="contenedor-bienvenida">
                <img src="http://grupocmm.com/wp-content/uploads/2018/09/final_cb_0086.0-1024x744.jpg" alt="" class="image">
                <div class="contenido-texto">
                   
                    <h2>GadGets Para que se ajusta a tu estilo</h2>
                    <p>Un gadget es un dispositivo que tiene un propósito y una función específica, generalmente de pequeñas proporciones, práctico y a la vez novedoso. </p>
                    <p>Estos gadgets están especialmente diseñados y desarrollados para mejorar la comodidad y rendimiento del jugador. En esta categoría se incluyen: auriculares, mandos, controles, parlantes, micrófonos, teclados de ordenador y hasta ropa especial. </p>
                    
                    <button>MÁS INFORMACIÓN</button>
                </div>
            </div>
</section>
  
        <section class="blog">
                
            <div class="contenedor">
                <div class="blog-contenido">
                    <div class="contenido-texto2">
                        <h2>En stock</h2>
                        <h2>ABOUT THIS</h2>
                        <p>Muchos aparatos tecnológicos de tamaño reducido pueden ser considerados gadgets, como es el caso de los móviles, mandos a distancia, iPod, PDA, calculadoras, relojes, etc.

                            También Google tiene su sidebar con muchos gadgets (virtuales) que se pueden usar con el sistema operativo Windows XP, Windows Vista, Mac y GNU Linux</p>
                        <button id="font-2">Ver Stock</button>
                    </div>

                    {{#about_products}}
                     {{/about_products}}
                </div>
            </div>
        </section>


</main>
