<section id="banner">

            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/coolest-tech-products-2021-1626715205.jpg" alt="">
            <div class="contenedor">

              <h2>Accesorios de lujo compacto</h2>
              <p>MÁS ALLÁ DE LA TECNOLOGÍA</p>
         
                <div class="info">
                    <button id="click">MÁS PRODUCTOS</button>
                </div>
             
            </div>
            
</section>