<div class="contactos">
        <div class="contenedor">
            <p class="copy">The GadGets</p>
            <div class="sociales">
                <a class="icon-facebook" href="#">Facebook</a>
                <p>@Mise Klever</p>
                <a class="icon-instagram" href="#">Instagram</a>
                <p>@ignotKlever</p>
                <a class="icon-twitter" href="#">Twitter</a>
                <p>@klever_mise</p>
                <a class="icon-whatsapp" href="#">Teléfono</a>
                <p>+593 983791621</p>
            </div>
        </div>  

    </div>